
<IfModule mod_headers.c>
	Header set Content-Security-Policy "default-src 'self' ; script-src 'self' 'unsafe-inline' *.google.com *.googleapis.com *.googletagmanager.com *.gstatic.com ; style-src 'self' 'unsafe-inline' *.googleapis.com ; img-src 'self' *.googletagmanager.com *.w3.org data: ; font-src 'self' *.gstatic.com ; frame-src 'self' http: https: *.youtube.com *.googletagmanager.com ; media-src 'self' ; connect-src 'self' *.fontawesome.com *.google-analytics.com "
</IfModule>




RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
