

// Error Pages

.error-main{
	min-height: calc(100vh - 59.2px );
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media all and (min-width: $breakpoint-s){
		background-image: url("../media/index-background.jpg");
		background-position: 0 88%;
	}
}

.error{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	row-gap: 40px;
	overflow: hidden;
}

.error-logo{
	width: 100%;
	max-width: 225px;
	img{
		width: 100%
	}
}

.error-message{
	width: 93%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 16.5px;
	@media all and (min-width: $breakpoint-xs){
		font-size: 17px;
	}
}

